@import url("styleLoginCadastro.css");

#admin_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#admin_list li {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

@media (max-width: 768px) {
    #admin_list li {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}